body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Brush Script MT", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
    font-size: 100%; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #f1f8ff */
  background: rgb(242, 245, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.biggerMatchFont {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bolder;
}

.biggerProfileFont {
  font-size: 16px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flexDivs {
  width: 20%;
  margin-right: 3%;
  margin-left: 3%;
}


.basicInfoFlex {
  margin-left: 10%;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; 
}

.footerFlex {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-weight: bold;
}

.centerContainer {
  text-align: center;
}

.moveFlexRight {
  right: 80%
}

.profilePicture {
  padding-left: 30px;
  padding-right: 30px;
}

.fixedMoreProfile {
  position: absolute;
}

.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.centerText {
  text-align: center;
}

.centerUserDetailButtons {
  /* margin: auto */
  text-align: center;

}

.container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
}

.whiteBackground {
  background:white;
}

.down  {
  margin-top: 7%;
}

.extraPadding {
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.halfDown  {
  margin-top: 3%;
}

.homeBG {
  background-color: rgba(133, 231, 236, 0.897)
}

.tealFont {
  color: teal;
  font-style: italic;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 30px;
}

.smallerTealFont {
  color: teal;
  font-style: italic;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 24px;
}

.grayFont {
  color: rgba(73, 71, 71, 0.794);
  font-style: italic;
  font-weight: bolder;
  font-variant: small-caps;
}

.whiteFont {
  color: white;
  font-variant: small-caps;
  font-style: italic;
  font-weight: bolder;
  font-size: 50px
}

.border {
  border: 1px solid black;
}

.centerUsers  {
  position: relative;
  left: 9%;
}

.centerMatchesContainer {
  position: relative;
  right: 24.5%
}

.centerFilterContainer {
  position: relative;
  right: 20%
}

.centerEditBasicTitle {
  position: relative;
  left: 25%
}

.matchesTitle {
  position: relative;
  margin-top: 1%;
  right: 7%
}

.loginDown  {
  margin-top: 10%;
  font-size: 20px
}

.loginFont  {
  color: teal;
  font-style: italic;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 40px;
}

.filterContainerTitle {
  color: teal;
  font-style: italic;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 40px;
  position: relative;
  left: 7%
}

/* FilteredProfile */
.noPrefsDown {
  margin-top: 3%;
  font-size: 40px
}

.filteredRight {
  position: relative;
  left: 40%
}

.centerFilterButton {
  position: relative;
  left: 6%
}

.centerFilterPic {
  position: relative;
  left: -9%
}

.centerFilterMessage {
  position: relative;
  left: 1%
}

.centerKimPic {
  width: 400px;
  height: 500px;
  /* width: 30%;
  height: 30%; */
  position: relative;
  margin-left: -2%
}

/* FilterContainer */
.centerEditFilters {
  position: relative;
  text-align: left;
  left: -18%
}

.centerEditFiltersButton {
  position: relative;
  left: 14%
}


/* EditProfile */
.itemHover:hover {
  text-shadow: 1px 1px white, 0 0 5px teal;
}

.menuHover:hover {
  text-shadow: .5px .5px lightgray, 0 0 5px teal;
}

.footer {   
  flex-shrink: 0; 
}