body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(251,211,249);
  background: radial-gradient(circle, rgba(251,211,249,1) 32%, rgba(252,171,228,1) 75%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.down  {
  margin-top: 7%;
}

.right  {
  margin-top: 1%;
  left: 10px
}

.profilepic {
position: relative;
margin-top: -530px;
left: 50%
}
